body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.swiper-slide1 {
  background: url('./assets/images/home-slide-1.jpg');
}
.swiper-slide2 {
  background: url('./assets/images/home-slide-2.jpg');
}
.swiper-slide3 {
  background: url('./assets/images/home-slide-3.jpg');
}